@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: white;
  background-color: #42b3f5;
  border-color: #01456c;
}

html {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@keyframes small-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
